@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Parking Lot v1</h1>
</div>

<div id="notify" class="alert alert-primary alert-dismissible" role="alert" style="display:none">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<button type="button" class="btn btn-success" onclick="fillOrEmptyParking(2)">Empty Parking</button>
<button type="button" class="btn btn-danger" onclick="fillOrEmptyParking(1)">Fill Parking</button>
<div id="output">
</div>

